{% extends "news/base_news.html" %}
{% block content %}
    <div><h3>Добавление новости</h3></div>
    {% if errors %}
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    <form name="newsformadd" action='{% url 'add_news' %}' method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type='hidden' value='{{ author }}' name='author'/>
        <input type='submit' value='Добавить новость'/>
        <input type='button' value='Очистить' onClick="clear_form();">
    </form>
    <a href="{% url 'index' %}">На главную</a>
<!-- Script area -->
    <script>
        function clear_form()
        {
            document.forms['newsformadd'].reset()
        }
    </script>
<!-- end -->
{% endblock %}
