{% load staticfiles %}
{% block head %}
    <head>
        <title>Какой то блог</title>
    </head>
{% endblock %}
{% block login %}
    {% if author %}
        <span id='author'>Me: {{ author }}</span>
        <a href='{% url 'logout' %}'>Logout</a>
        <a href='{% url 'add_news' %}'>Add post</a>
        <a href="{% url 'my_news' author %}">My news</a><br>
        <a href="{% url 'my_comments' author %}">My comments</a><br>
    {% else %}
        <a href='{% url 'login' %}'>Login</a>
        <a href='{% url 'register' %}'>Register</a>
    {% endif %}
    <hr>
{% endblock %}
{% block content %}{% endblock %}
{% block comment %}{% endblock %}
{% block footer %}
{% endblock %}
