{% extends "news/base_news.html" %}
{% block content %}
    <div><h3>Редактирование новости</h3></div>
    {% if errors %}
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    <form name="newsformedit" action='{% url 'edit_news' news_id %}' method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type='hidden' value='{{ author }}' name='author'/>
        (оставьте поле изображения пустым, если хотите оставить старое)<br><br>
        <input type='submit' value='Сохранить'/>
        <input type="button" value="Отменить" onclick="cancel()">
    </form>
    <a href="{% url 'index' %}">На главную</a>
<!-- Script area -->
    <script type="text/javascript">
        function cancel()
        {
            document.location.href = "{% url 'news' news_id %}"
        }
    </script>
<!-- end -->
{% endblock %}