{% extends "news/base_news.html" %}
{% block content %}
    <!-- Лента новостей, пока все новости подряд-->
    {% if news %}
        {% for new in news %}
            <a href="{% url 'news' new.id %}">{{ new.news_name }}</a><br>
            Добавлено: {{ new.create_date | date:'Y-m-d H:i' }}
            Автор: {{ new.author }}<br><br>
        {% endfor %}
    {% else %}
        Новостей нет.
    {% endif %}
{% endblock %}
