{% extends "news/base_news.html" %}
{% block content %}
    {% for new in news %}
        <a href="{% url 'news' new.id %}">{{ new.news_name }}</a><br>
        Добавлено: {{ new.create_date | date:'Y-m-d H:m' }}<br><br>
    {% empty %}
        Вы не добавили ни одной новости.
    {% endfor %}
{% endblock %}