{% extends "news/base_news.html" %}
{% block content %}
    <!-- Вывод новости-->
    {% if author == news.author and can_edit %}
        <a href="{% url 'edit_news' news.id %}">Редактировать</a>
    {% endif %}
    <h2>{{ news.news_name }}</h2><br>
    Добавлено: {{ news.create_date | date:'Y-m-d H:i' }}
    Автор: {{ news.author }}<br><br>
    {% if news.picture %}
        <img src="{{ news.picture.url }}"><br>
    {% endif %}
    {{ news.description }}<br><br>
    <a href="{% url 'index' %}">На главную</a>
{% endblock %}
{% block comment %}
    {% if comments %}  
        <hr>
        <div>Comments:</div>
        <hr>
        {% for comment in comments %}
            <div class='comment_header'>
                <span class='comment_authorname'>Author: {{ comment.author_name }} | </span>
                <span class='public_datetime'>Datetime: {{ comment.public_datetime|date:"H:i:s d/m/Y" }}</span>
            </div>
            <div class='comment_content'>
                <p>{{ comment.comment_content }}</p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
    {% if author %}
        {% for error_val in commentbox_form.errors.values %}
            {{ error_val }}
        {% endfor %}
            <hr>
            <form action='{% url 'news' curr_news_id %}' method='post'>
                {% csrf_token %}
                <div class='commentbox'>
                    {{ commentbox_form.comment_input }}
                </div>
                <input type='hidden' value='{{ author }}' name='author_name'/>
                <input type='hidden' value='{{ curr_news_id }}' name='news_id'/>
                <input type='submit' value='Send'/>
            </form>
    {% endif %}
{% endblock %}
