{% extends 'news/base_news.html' %}
{% block login %}
    <a href='{% url 'register' %}'>Register</a>
    <hr>
{% endblock %}
{% block content %}
    <div><h3>Login page</span></h3>
    {% if form.errors %}
        <p>Username or password didn't match. Please, try again.</p>
    {% endif %}
    {% if messages %}
        <ul class='info-messages'>
            {% for msg in messages %}
                <li>{{ msg }}<li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action='{% url 'login' %}' method='post'>
        {% csrf_token %}
        {{ form.as_ul }}
        <input type='submit' value='Login'/>
    </form>
{% endblock %}
