{% extends 'news/base_news.html' %}
{% block login %}
    <a href='{% url 'login' %}'>Login</a>
    <hr>
{% endblock %}
{% block content %}
    <div><h3>Register page</h3></div>
    {% if form.errors %}
        <p>User exists already. Try another one.</p>
    {% endif %}
    <form action='{% url 'register' %}' method='post'>
        {% csrf_token %}
        {{ form.as_ul }}
        <input type='submit' value='Register me'/>
    </form>
{% endblock %}
